<!DOCTYPE html>
<html>
<head>
    <style>
        /**/body {
            background: url(images/background.jpg) no-repeat center;
            background-size: cover;
            height: 100vh;
            --def: #96B7C4;
            --inv: #fff;
        }
    </style>
    <title>Actualizar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Impxort Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <br><br><br>
    <div class="row section">
        <div class="col s12 s6 l3"></div>
        <div class="col s12 s6 l6">
            <% if(user){ %>             
            <h4>Editar el producto</h4> 

            <form action="/actualizarDB" method="post">
                <input id="nombreid" name="nombreid" value="<%= user.nombre %>" hidden>
                <label for="nombre">Nombre del producto</label>
                <input type="text" name="nombre" id="nombre" value="<%= user.nombre %>" >
                <br>
                <!-- class="orange-text"
                class="white-text" -->
                <label for="precio" >Precio de producto</label>
                <input type="number" name="precio" id="precio"  value="<%= user.precio %>">
                <br>
                <label for="descripcion">Descripcion del produto</label>
                <input type="text" name="descripcion" id="descripcion" value="<%= user.descripcion %>">
                <br>
                <button class="btn waves-effect waves-light blue darken-1" type="submit">
                    Enviar<i class="material-icons right">send</i>
                </button>
            </form>
            <% }%>
        </div>
        <div class="col s12 s6 l3"></div>
    </div>
        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>     
</body>
</html>