<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background: url(images/background.jpg) no-repeat center;
            background-size: cover;
            height: 100vh;
            --def: #96B7C4;
            --inv: #fff;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Impxort Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <title>Document</title>

</head>
<body>
    <h3>Producto eliminado</h3>
    <form action="/despuesEliminar" method="get" id="create">
        <button class="btn waves-effect waves-light red darken-1" type="submit">
          Regresar a inicio<i class="material-icons right">send</i>
        </button>
      </form>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
</body>
</html>