<!DOCTYPE html>
<html>
<head>
    <title>Actualizar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Impxort Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <br><br><br>
    <div class="row section">
        <div class="col s12 s6 l3"></div>
        <div class="col s12 s6 l6">
            <% if(user){ %>             
            <h4>Editar Actividad</h4> 

            <form action="/actualizarDB" method="post">
                <input id="id" name="id" value="<%= user.Tari_id %>" hidden>
                <label for="Tema">Tema</label>
                <input type="text" name="Tema" id="Tema" value="<%= user.Tari_tema %>" required>
                <br>
                <label for="Descripcion" >Descripcion</label>
                <input type="text" name="Descripcion" id="Descripcion" value="<%= user.Tari_descripcion %>" required>
                <br>
                <label for="fechaFin">Fecha de termino</label>
                <input type="datetime-local" name="fechaFin" id="fechaFin" value="<%= user.tari_fechaExp %>" required>
                <br>
                Color: <br><br>
                <label>
                    <input type="radio" name="color" id="alto" value="alto"> 
                    <span>Rojo</span>
                </label><br>
                <label>
                    <input type="radio" name="color" id="medio" value="medio">                        
                    <span>Amarillo</span>
                </label><br>
                <label>
                    <input type="radio" name="color" id="bajo" value="bajo">
                    <span>Verde</span>
                </label><br><br>                      
                <button class="btn waves-effect waves-light blue darken-1" type="submit">
                    Enviar<i class="material-icons right">send</i>
                </button>
            </form>
            <br>
            <a href="/index"><button class="btn waves-effect waves-light blue darken-1">Cancelar</button></a>
            <% }%>
        </div>
        <div class="col s12 s6 l3"></div>
    </div>
        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>     
</body>
</html>